
/*Avoid page breaks after section titles and within a section  */
h2 {
  break-after: avoid;
}

.blocks {
  break-inside: avoid;
}

* {
  /*Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
}
